body {
  background: #222;
  color: #999;
  font-family: 'Courier New', Courier, monospace;

  font-size: 18px;
}

.app {
  max-width: 600px;
  margin: 0px auto;
  height: 100vh;
  overflow: hidden;
  padding: 100px 10vw;
}

.app_header {
  font-size: 24px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}