body {
  background: #222;
  color: #999;
  font-family: 'Courier New', Courier, monospace;

  font-size: 18px;
}

.app {
  max-width: 600px;
  margin: 0px auto;
  height: 100vh;
  overflow: hidden;
  padding: 0 10vw;
}

.app_header {
  font-size: 24px;
  margin-top: 30vh;
}